$basic-green-1: #68b738;
$basic-green-2: #5eaa2f;
$basic-grey: #f2f2f2;
$special-grey-1: #ebebeb;
$special-grey-2: #e7e7e7;
$special-grey-3: #cdcdcd;
$special-dark-grey-1: #6b6b6b;
$special-dark-grey-2: #3e3e3e;
$status-error: #ff8282;
