$font-primary: "Lato", sans-serif;
$font-secondary: "Oswald", sans-serif;

$basic-green: #68b738;
$basic-green-2: #5eaa2f;
$basic-grey: #f2f2f2;
$special-grey-1: #eaeaea;
$special-grey-2: #ebebeb;
$special-grey-3: #e7e7e7;
$special-grey-4: #cdcdcd;
$special-grey-5: #666666;
$special-grey-6: #d3d3d3;
$special-dark-grey-1: #6b6b6b;
$special-dark-grey-2: #3e3e3e;
$basic-text: #444444;
$basic-black: #000000;
$basic-black-1: #111111;
$basic-black-2: #222222;
$status-error: #ff8282;
$basic-white: #ffffff;
