/* GLOBAL */
@import "./common/variables.scss";
@import "./common/mixins.scss";
@import "./common/fonts.scss";
@import "./common/visually-hidden.scss";

/* BLOCKS */
@import "./blocks/promo.scss";
@import "./blocks/special.scss";
@import "./blocks/example.scss";
@import "./blocks/contacts.scss";
@import "./blocks/copyright-link.scss";
@import "./blocks/button.scss";
@import "./blocks/card.scss";
@import "./blocks/add-card.scss";
@import "./blocks/add-products.scss";
@import "./blocks/banner.scss";
@import "./blocks/subscribe.scss";
@import "./blocks/box.scss";
@import "./blocks/stat.scss";
@import "./blocks/catalog.scss";
@import "./blocks/page.scss";
@import "./blocks/nav-list.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/option-card.scss";
@import "./blocks/page-footer.scss";
@import "./blocks/social-list.scss";
@import "./blocks/footer-logo.scss";
@import "./blocks/slider.scss";
@import "./blocks/stat-table.scss";
@import "./blocks/card-showmore.scss";
@import "./blocks/content-wrapper.scss";
@import "./blocks/main-header.scss";
@import "./blocks/chart-table.scss";
@import "./blocks/options.scss";
@import "./blocks/map.scss";
@import "./blocks/section-heading.scss";
@import "./blocks/logo-letters.scss";
@import "./blocks/navlist.scss";
