.add-products {
  @media (min-width: $tablet-width) {
    padding-top: 74px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 50px;
  }
}

.add-products__wrappper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: auto 245px;
    gap: 80px;
  }
}

.add-products__title {
  font-family: $font-secondary;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.add-products__list {
  list-style: none;
  padding-left: 0;
  border-top: 1px solid $special-grey-4;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    max-width: 708px;
    border-left: 1px solid $special-grey-4;
    border-right: 1px solid $special-grey-4;
    padding-left: 38px;
    padding-right: 38px;
    margin-top: 50px;
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    border-left: none;
    border-right: none;
    max-width: 896px;
    margin-bottom: 0;
  }
}

.add-products__item {
  @media (min-width: $tablet-width) {
    margin-left: -38px;
    margin-right: -38px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-right: 0;
  }
}
