.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $basic-green;
  margin-left: auto;
  margin-right: auto;
  min-height: 290px;
  max-width: 500px;
  background-image: url("../../images/bonus-background/bonus-mobile@1x.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    max-width: 708px;
    min-height: 200px;
    background-image: url("../../images/bonus-background/bonus-tablet@1x.jpg");
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    width: 245px;
    margin-top: 61px;
    background-image: url("../../images/bonus-background/bonus-desktop@1x.jpg");
  }
}

.banner__text {
  font-family: $font-primary;
  font-size: 16px;
  line-height: 20px;
  color: $basic-white;
  text-align: center;
  position: relative;
  margin-top: 188px;
  width: 180px;

  @media (min-width: $tablet-width) {
    margin: 0 124px 0 auto;
    width: 161px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    width: 165px;
    text-align: center;
    margin: 184px 0 0;
  }
}

.banner__text::before {
  content: "";
  position: absolute;
  background-image: url("../../icons/stack.svg#gift");
  background-position: center;
  background-repeat: no-repeat;
  width: 78px;
  height: 80px;
  left: 50%;
  transform: translateX(-50%);
  top: -128px;

  @media (min-width: $tablet-width) {
    top: 46%;
    left: -344px;
    transform: translateY(-50%);
  }

  @media (min-width: $desktop-width) {
    top: -128px;
    left: 51%;
    transform: translateX(-50%);
  }
}
