.button {
  display: block;
  font-family: $font-secondary;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  color: $basic-white;
  cursor: pointer;
  box-sizing: border-box;
}

.button--primary {
  background-color: $basic-green;
}

.button--secondary {
  background-color: $basic-grey;
  color: $basic-text;
}
