.card-showmore {
  padding-top: 23px;
  padding-bottom: 22px;
  max-width: 350px;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 90px;
    padding-bottom: 0;
    width: 324px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    padding-top: 91px;
  }
}

.card-showmore__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding: 50px 33px 38px;
    min-height: 340px;
    border: 2px solid $basic-grey;
  }

  @media (min-width: $desktop-width) {
    padding: 45px 38px 36px;
  }
}

.card-showmore__title {
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  position: relative;
  margin-top: 55px;
  margin-bottom: 9px;
  color: $basic-black-1;

  @media (min-width: $tablet-width) {
    margin-top: 112px;
    margin-bottom: 23px;
    width: 134px;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 102px;
    margin-bottom: 26px;
  }
}

.card-showmore__title::before {
  content: "";
  position: absolute;
  top: -39px;
  left: 86px;
  width: 30px;
  height: 2px;
  background-color: $special-grey-6;

  @media (min-width: $tablet-width) {
    width: 60px;
    top: -80px;
    left: 37px;
  }

  @media (min-width: $desktop-width) {
    top: -70px;
    left: 37px;
  }
}

.card-showmore__title::after {
  content: "";
  position: absolute;
  top: -39px;
  left: 86px;
  width: 30px;
  height: 2px;
  background-color: $special-grey-6;
  transform: rotate(90deg);

  @media (min-width: $tablet-width) {
    width: 60px;
    top: -81px;
    left: 37px;
  }

  @media (min-width: $desktop-width) {
    top: -70px;
    left: 37px;
  }
}

.card-showmore__text {
  font-size: 12px;
  line-height: 16px;
  margin-top: 0;
  margin-bottom: 20px;
  color: $basic-text;

  @media (min-width: $tablet-width) {
    width: 170px;
    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 89px;
  }
}

.card-showmore__button {
  padding: 11px;
  width: 100%;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    margin-top: 61px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    width: 170px;
  }
}
