.catalog {
  margin-left: -20px;
  margin-right: -20px;

  @media (width: $mobile-width-only) {
    border-top: 1px solid $special-grey-2;
    border-bottom: 1px solid $special-grey-2;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 324px);
    gap: 49px 60px;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 245px);
    gap: 51px 80px;
  }
}

