.contacts__intro {
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-black-1;
}

.contacts__text {
  font-family: $font-primary;
  font-size: 14px;
  line-height: 20px;
}
