.copyright-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $font-primary;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  text-decoration: none;
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    width: 168px;
  }
}

.copyright-link__text {
  color: $basic-text;

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}

.copyright-link__icon {
  fill: $special-grey-5;

  &:hover,
  &:focus {
    fill: $basic-green;
  }

  &:active {
    fill: rgba(104, 183, 56, 0.3);
  }
}
