.copyright-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $font-primary;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  text-decoration: none;
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    width: 168px;
    padding-top: 0;
  }
}

.copyright-link__text {
  color: $basic-text;

  @media (min-width: $tablet-width) {
    margin-left: 6px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 5px;
    padding-top: 12px;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}

.copyright-link__icon {
  fill: $special-grey-5;

  @media (min-width: $desktop-width) {
    padding-top: 7px;
  }
}


.copyright-link__icon:hover,
.copyright-link__icon:focus {
  fill: $basic-green;
}

.copyright-link__icon:active {
  fill: rgba(104, 183, 56, 0.3);
}
