.example {
  background-color: $special-grey-1;
  padding-top: 45px;

  @media (min-width: $tablet-width) {
    background-color: $basic-white;
  }
}

.example__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.example__container {
  @media (min-width: $desktop-width) {
    width: 610px;
  }
}

.example__title {
  font-family: $font-secondary;
  font-size: 36px;
  line-height: 40px;
  color: $basic-black;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 56px;
    margin-bottom: 146px;
  }
}

.example__text {
  font-size: 14px;
  line-height: 18px;
  margin-top: 10px;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    max-width: 708px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    min-width: 450px;
  }
}

.example__result {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    padding-top: 54px;
    width: 366px;
  }
}

.example__cost {
  font-family: $font-secondary;
  font-size: 14px;
  line-height: 20px;
  color: $basic-black;
  text-align: center;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    max-width: 175px;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    max-width: 328px;
    text-align: left;
  }
}
