.example {
  background-color: $special-grey-1;
}

.example__title {
  font-family: $font-secondary;
  font-size: 36px;
  line-height: 40px;
  color: $basic-black;
}

.example__cost {
  font-family: $font-secondary;
  font-size: 14px;
  line-height: 20px;
  color: $basic-black;
  text-align: center;
  text-transform: uppercase;
}
