.main-header--index {
  @media (min-width: $desktop-width) {
    background-image: url("../../images/header-background/header-desktop-1@2x.jpg"), linear-gradient(90deg, $basic-white 50%, #74ae53 50%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: calc(50% + 520px) center, center;
    max-height: 694px;
  }
}

.main-header__logo {
  display: block;
  width: 190px;
  height: 38px;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.main-header__logo:hover {
  opacity: 0.8;
}

.main-header__logo:active {
  opacity: 0.6;
}
