.main-header--index {
  @media (min-width: $desktop-width) {
    background-image: url("../../images/header-background/header-desktop@2x.jpg"), linear-gradient(90deg, #ffffff 50%, #64a83b 50%);
    background-size: 720px 694px;
    background-repeat: no-repeat;
    background-position: calc(50% + 360px) center, center;
    max-height: 694px;
  }
}

.main-header__logo {
  display: block;
  width: 190px;
  height: 38px;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}
