.nav-list {
  font-family: $font-secondary;
  font-size: 20px;
  line-height: 20px;
  list-style: none;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin-left: 61px;
    font-size: 18px;
    line-height: 24px;
    padding-top: 14px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    width: 600px;
    padding-top: 17px;
    margin-left: 417px;
  }
}

.nav-list__item {
  border-top: 1px solid $special-grey-7;
  margin-left: -20px;
  margin-right: -20px;

  @media (min-width: $tablet-width) {
    margin-left: 33px;
    margin-right: 0;
    border-top: none;
  }

  @media (min-width: $desktop-width) {
    margin-left: 34px;
  }
}

.nav-list__item:hover {
  opacity: 0.6;
}

.nav-list__link {
  text-decoration: none;
  position: relative;
  display: block;
  padding: 22px 0 24px;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    color: $basic-black-1;
  }
}

.nav-list__link:hover {
  opacity: 0.6;
}

.nav-list__link:active {
  opacity: 0.3;
}

.nav-list__link--index {
  @media (min-width: $desktop-width) {
    color: $basic-white;
  }
}

.nav-list__link--active::after {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -9px;
    height: 2px;
    background-color: $basic-green;
  }
}

.nav-list__link--active.nav-list__link--index::after {
  @media (min-width: $desktop-width) {
    background-color: $basic-white;
  }
}

.nav-list__link--index:active {
  @media (min-width: $desktop-width) {
    color: $special-green;
  }
}
