.navlist {
  @media (max-width: 767px) {
    position: relative;
    display: none;
  }
}

.navlist--dropdown {
  @media (max-width: 767px) {
    position: absolute;
    width: 100%;
    background-color: $basic-white;
    z-index: 2;
    left: 0;
  }
}

.navlist--opened {
  @media (max-width: 767px) {
    display: block;
  }
}
