.option-card {
  display: flex;
  flex-direction: column;
  padding: 21px 33px 18px 20px;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    padding: 50px;
    min-height: 248px;
  }

  @media (min-width: $desktop-width) {
    padding: 47px 52px 62px;
    min-height: 263px;
  }
}

.option-card__content {
  position: relative;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid $special-grey-8;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding-top: 22px;
  }
}

.option-card__content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $basic-green;

  @media (min-width: $tablet-width) {
    top: 10px;
    left: auto;
    right: 10px;
    width: 200px;
    height: 211px;
  }

  @media (min-width: $desktop-width) {
    top: 0;
    left: 0;
    right: auto;
    width: 100px;
    height: 100px;
  }
}

.option-card__content--slim::after {
  background-image: url("../../icons/stack.svg#cat-slim");
  width: 36px;
  height: 50px;
  top: -2px;
  left: 5px;
  background-repeat: no-repeat;
  position: absolute;
  content: "";

  @media (min-width: $tablet-width) {
    top: 10px;
    left: auto;
    right: 40px;
    width: 140px;
    height: 194px;
  }

  @media (min-width: $desktop-width) {
    top: -5px;
    left: 10px;
    right: auto;
    width: 70px;
    height: 97px;
  }
}

.option-card__content--pro::after {
  background-image: url("../../icons/stack.svg#cat-pro");
  width: 67px;
  height: 28px;
  background-repeat: no-repeat;
  position: absolute;
  content: "";
  top: 10px;
  left: -9px;

  @media (min-width: $tablet-width) {
    top: 55px;
    left: auto;
    right: -21px;
    width: 268px;
    height: 112px;
  }

  @media (min-width: $desktop-width) {
    top: 20px;
    left: -20px;
    right: auto;
    width: 134px;
    height: 56px;
  }
}

.option-card__title {
  font-family: $font-secondary;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  position: relative;
  margin-top: 0;
  margin-bottom: 28px;
  margin-left: 70px;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 75px;
    margin-left: 162px;
  }
}

.option-card__text {
  color: $basic-black-2;

  @media (min-width: $tablet-width) {
    max-width: 340px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
}

.option-card__link {
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  position: relative;
  text-decoration: none;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    max-width: 161px;
  }
}

.option-card__link::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../icons/stack.svg#arrow");
  width: 24px;
  height: 12px;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
  background-size: contain;

  @media (min-width: $tablet-width) {
    left: 120px;
  }
}
