.page-footer {
  position: relative;
}

.page-footer__footer {
  background-color: $basic-grey;
  padding: 40px 0;

  @media (min-width: $tablet-width) {
    padding-top: 41px;
    padding-bottom: 56px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 49px;
  }
}

.page-footer__footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}
