.promo {
  font-family: $font-secondary;
  text-align: center;
  color: $basic-white;
  background-image: url("../../images/header-background/header-mobile@1x.jpg"), linear-gradient(180deg, $basic-green 50%, $basic-white 50%);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 320px 302px;
  position: relative;
  min-height: 480px;

  @media (min-width: $tablet-width) {
    background-image: none;
    min-height: 0;
    color: $basic-black;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 82px;
  }
}

.promo__container {
  display: grid;

  @media (min-width: $tablet-width) {
    min-width: 709px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    margin-left: 80px;
    width: 1060px;
    margin-right: 80px;
  }
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  margin-top: 26px;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    margin: 39px 90px 16px;
    max-width: 416px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-top: 75px;
  }
}

.promo__intro {
  line-height: 14px;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-left: 90px;
    margin-bottom: 21px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-bottom: 22px;
  }
}

.promo__image {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    margin-left: 0;
    width: 709px;
    height: 609px;
    grid-column: 1 / -1;
    grid-row: 3 / 5;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 5;
    margin: -3px -81px;
    width: 552px;
    height: 499px;
  }
}

.promo__link {
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    grid-column-start: 1;
    grid-row-start: 3;
    margin-top: 28px;
    margin-left: 90px;
    width: 244px;
    font-size: 20px;
    line-height: 26px;
    padding: 14px 26px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}
