.section-heading {
  display: inline-block;
  font-size: 24px;
  line-height: 24px;
  position: relative;
  background-color: $basic-white;
  box-shadow: -30px 0 $basic-white, 40px 0 $basic-white;
  width: fit-content;

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
    box-shadow: 40px 0 $basic-white;
    padding-left: 40px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
    padding-left: 0;
    box-shadow: -40px 0 $basic-white, 40px 0 $basic-white;
  }
}

.section-heading::before {
  content: "";
  position: absolute;
  background-color: $basic-green;
  z-index: -1;
  transform: translateY(-50%);
  width: 100vw;
  height: 2px;
  top: 51%;
  right: 0;
  box-shadow: 100vw 0 $basic-green;
}
