.slider__button {
  display: block;
  position: absolute;
  background-color: $special-grey-5;
  width: 4px;
  height: 100%;
  padding: 0;
  border-radius: 2px;
  top: 0;
  left: 15px;
  border: none;

  &:hover,
  &:focus {
    background-color: $basic-green;
  }

  &:active {
    background-color: rgba(94, 170, 47, 0.6);
  }
}

.slider__button::before {
  content: "";
  position: absolute;
  background-color: $basic-white;
  border: 2px solid $special-grey-5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transform: translate(-50%);
}

.slider__button:hover::before,
.slider__button:focus::before {
  border-color: $basic-green;
}

.slider__button:active::before {
  border-color: rgba(94, 170, 47, 0.6);
}

.slider__button::after {
  content: "";
  position: absolute;
  background-color: $special-grey-5;
  width: 24px;
  height: 18px;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  mask-image: url("../../icons/slider.svg");
  mask-position: 50%;
  mask-size: 24px 18px;
  mask-repeat: no-repeat;
}

.slider__button:hover::after,
.slider__button:focus::after {
  background-color: $basic-green;
}

.slider__button:active::after {
  background-color: rgba(94, 170, 47, 0.6);
}
