.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding-left: 0;
  padding-top: 20px;
  padding-bottom: 19px;
  width: 100%;
  list-style: none;
  gap: 24px;
  border-top: 1px solid $special-grey-8;
  border-bottom: 1px solid $special-grey-8;

  @media (min-width: $tablet-width) {
    width: 132px;
    border: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 39px;
    padding-top: 25px;
  }
}

.social-list__link {
  display: block;
  width: 28px;
  height: 22px;

  @media (min-width: $desktop-width) {
    padding-top: 2px;
  }

  &::before {
    content: "";
    display: block;
    width: 28px;
    height: 22px;
    background-color: $special-grey-5;
  }
}

.social-list__link--vk::before {
  mask-image: url("../../icons/stack.svg#social-vk");
}

.social-list__link--yt::before {
  mask-image: url("../../icons/stack.svg#social-yt");
}

.social-list__link--tg::before {
  mask-image: url("../../icons/stack.svg#social-tg");
}

.social-list__link:hover::before,
:focus-visible::before {
  background-color: $basic-green;
}

.social-list__link:active::before {
  background-color: rgba(104, 183, 56, 0.3);
}
