.special {
  position: relative;
  padding-bottom: 49px;

  @media (min-width: $tablet-width) {
    padding-top: 20px;
    padding-bottom: 5px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 35px;
    padding-bottom: 10px;
  }
}

.special::after {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    color: $special-grey-7;
    height: 1px;
    width: 768px;
    margin-left: -30px;
    margin-right: -30px;
  }
}

.special__title {
  font-family: $font-secondary;
  font-size: 36px;
  line-height: 40px;
  color: $basic-black;
  margin-top: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
    font-size: 60px;
    line-height: 60px;
  }
}

.special__list {
  display: grid;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding-left: 0;
  counter-reset: feature;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 250px);
    gap: 37px 153px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 245px);
    gap: 80px;
  }
}

.special__list-item {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 80px;
  min-height: 60px;

  @media (min-width: $tablet-width) {
    display: block;
    padding-top: 112px;
    padding-bottom: 12px;
    padding-left: 0;
    min-height: 156px;
    font-size: 16px;
    line-height: 24px;
  }
}

.special__list-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: $basic-green;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
  }
}

.special__list-item--one::before {
  background-image: url("../../icons/stack.svg#leaf");
  background-size: 30px 32px;
  background-repeat: no-repeat;
  background-position: center;
}

.special__list-item--two::before {
  background-image: url("../../icons/stack.svg#powder");
  background-size: 26px 29px;
  background-repeat: no-repeat;
  background-position: center;
}

.special__list-item--three::before {
  background-image: url("../../icons/stack.svg#eat");
  background-size: 25px 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.special__list-item--four::before {
  background-image: url("../../icons/stack.svg#alarm");
  background-size: 26px 31px;
  background-repeat: no-repeat;
  background-position: center;
}

.special__list-item::after {
  position: absolute;
  z-index: -1;
  text-align: center;
  font-family: $font-secondary;
  color: $basic-grey;

  @media (min-width: $tablet-width) {
    content: counter(feature);
    counter-increment: feature;
    top: -38px;
    right: 12px;
    width: 136px;
    height: 280px;
    font-size: 280px;
    line-height: 280px;
  }
}
