.subscribe__title {
  font-family: $font-secondary;
  font-size: 24px;
  line-height: 24px;
  color: $basic-black;
}

.subscribe__text {
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 24px;
  color: $basic-black;
}
